<section class="affichage">
    
    <div id="experience">

        <h1 class="blue">
            Expériences
        </h1>

        <div class="content">

            <div class="bande"></div>
            <div class="paragraph">
                <p>Stage</p>
                <p>2 semaines</p>
                <p>Dépannage informatique</p>
                <p>ADPEP 66</p>
            </div>

        </div>

        <div class="content">

            <div class="bande"></div>
            <div class="paragraph">
                <p>Service Civique</p>
                <p>6 mois</p>
                <p>Organisation d'un festival audio-visuel</p>
                <p>ITEP François Tosqueilles</p>
            </div>

        </div>

        <div class="content">

            <div class="bande"></div>
            <div class="paragraph">
                <p>Week-End Start-up</p>
                <p>3 jours</p>
                <p>Création de projet start-up</p>
                <p>Perpignan</p>
            </div>

        </div>

    </div>

    <div id="separation"></div>

    <div id="formation">

        <h1 class="blue">
            Formations
        </h1>

        <div class="content">

            <div class="bande"></div>
            <div class="paragraph">
                <p>Développer application Web et Mobile (en cours)</p>
                <p>Niveau III</p>
                <p>IDEM, Ecole Du Numérique</p>
            </div>

        </div>

    </div>

</section>