<section class="affichage">

    <div id="titre">

        <div>
            <h1>Me</h1>
        </div>

        <div>
            <h1 class="blue">contacter</h1>
        </div>

        <div>
            <h1>!</h1>
        </div>

    </div>

    <div id="form">

        <div id="icon">
            <img src="../../assets/Contact-icon.png">
        </div>
        
        <div id="info">

            <div class="contain">
                <div>
                    <img src="../../assets/mobile-512.png">
                </div>
                <div class="i">
                06 60 32 61 35
                </div>
            </div>

            <div class="contain blue">
                <div>
                    <img src="../../assets/Mail-icon.png">
                </div>
                <div class="i">
                        <a href="mailto:jerome.ferrero66@gmail.com">jerome.ferrero66@gmail.com</a>
                </div>
            </div>

            <div class="contain">
                <div>
                    <img src="../../assets/téléchargement.png">
                </div>
                <div class="i">
                8 rue Pierre Bonnard, 66000 Perpignan, FRANCE
                </div>
            </div>

        </div>

    </div>

    <div id="formLink">
        <div class="myicon">
            <a href="https://www.facebook.com/jerome.ferrero.906"><img class="image" src="../../assets/fb.png"></a>
        </div>
        <div class="myicon">
            <a href="mailto:jerome.ferrero66@gmail.com"><img class="image" src="../../assets/mail.png"></a>
        </div>
        <div class="myicon">
            <a href="https://twitter.com/JeromeFerrero66"><img class="image" src="../../assets/twitter.png"></a>
        </div>
    </div>

</section>