<section class="affichage">
        <h2><div class="blue">Jérôme</div>FERRERO</h2>
        <h1><div class="blue">Développeur</div> Web Mobile</h1>
        <hr>
        <img id="photo" src="../../assets/profil.png">
        <div id="myId">
            <p>20 ans</p>
            <p>Perpignan</p>
            <a href="mailto:jerome.ferrero66@gmail.com">jerome.ferrero66@gmail.com</a>
        </div>
        <p id="infos">
            Passionné du web et de l'informatique, je cherche une expérience de travail dans ce domaine afin de perfectionner mes compétences.
        </p>
        <div id="citation">
            <h1 class="blue h"><</h1>
            <div>
                <div class="blue">PROGRAMMEUR</div>
                <div>A person who fixes a problem that you don't know you have, in a way you don't understand.</div>
            </div>
            <h1 class="blue h">></h1>
        </div>
</section>