<section class="affichage">
    <div id="titre">
        <div>Quelques</div>
        <div class="blue">projets :</div>
    </div>

    <div class="projets">

        <div class="projet">
            <div class="img"><img src="../../assets/HeroClicker.png"></div>
            <div class="text">
                Un projet de jeu "clicker" réalisé avec Angular 4.
            </div>
        </div>

        <div class="projet">
            <div class="text">
                Un jeu de capture pokémon sur googleMap! réalisé avec Ajax - PHP et JQuery.
            </div>
            <div class="img"><img src="../../assets/pokemon.png"></div>
        </div>

    </div>
</section>