<section class="affichage">

    <div class="skill">
        <div class="img">
            <img src="../../assets/html5.png">
        </div>
        <div class="skillBar" id="html">
            <div></div>
        </div>
        <div class="percent">90%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/css3.png">
        </div>
        
        <div class="skillBar" id="css">
            <div></div>
        </div>

        <div class="percent">65%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/js.png">
        </div>
        <div class="skillBar" id="js">
            <div></div>
        </div>
        <div class="percent">90%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/jquery.png">
        </div>
        <div class="skillBar" id="jquery">
            <div></div>
        </div>
        <div class="percent">80%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/node.png">
        </div>
        <div class="skillBar" id="node">
            <div></div>
        </div>
        <div class="percent">80%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/php.png">
        </div>
        <div class="skillBar" id="php">
            <div></div>
        </div>
        <div class="percent">95%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/ajax.png">
        </div>
        <div class="skillBar" id="ajax">
            <div></div>
        </div>
        <div class="percent">90%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/cordova.png">
        </div>
        <div class="skillBar" id="cordova">
            <div></div>
        </div>
        <div class="percent">70%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/angular-typescript.png">
        </div>
        <div class="skillBar" id="angular">
            <div></div>
        </div>
        <div class="percent">85%</div>
    </div>

    <div class="skill">
        <div class="img">
            <img src="../../assets/photoshop.png">
        </div>
        <div class="skillBar" id="photoshop">
            <div></div>
        </div>
        <div class="percent">50%</div>
    </div>

</section>